@charset "utf-8";
/* CSS Document */

a,
.theme_color,
.list-style-three li:before,
.price-block .inner-box .price,
.main-menu .navigation > li > ul > li:hover > a,
.main-menu .navigation > li > ul > li > ul > li:hover > a,
.product-block .inner-box .icon-outer .icon,
.main-header .options-box .phone-box .icon,
.service-block-three .inner-box .icon-outer .icon,
.main-footer.style-two .contact-widget ul li .icon,
.main-footer.style-two .logo-widget .social-nav li a,
.mission-block .inner-box .icon-outer .icon,
.gallery-block .inner-box .image .overlay-box .content h4 a:hover,
.call-to-action-section .inner-container .content .phone-icon{
	color:#96053e;
}

/* Background Color */

.btn-style-two:before,
.main-header .header-top,
.btn-style-one:before,
.btn-style-three,
.broucher-box,
.btn-style-four:before,
.service-block .inner-box:before,
.service-block .inner-box h3:before,
.product-block .inner-box:before,
.accordion-box .block .acc-btn.active,
.news-block .inner-box .image .post-date,
.service-block-two .inner-box:before,
.faq-form .form-group .skill-bar .bar-inner,
.service-block-three .inner-box:before,
.pricing-tabs .tab-buttons .boll .round,
.project-page-section .filters li:before,
.call-to-action-section.style-three .inner-container,
.news-block-two .inner-box .image .overlay-box .icon,
.blog-detail .inner-box .lower-content blockquote,
.contact-box .inner-box:before,
.gallery-block .inner-box .image .overlay-box .search-icon:hover{
	background-color:#96053e;
}

/* Border Color */
.btn-style-two:hover,
.price-block .inner-box .start-btn,
.faq-form .form-group .skill-bar .bar-inner .bar,
.faq-form .form-group input[type="text"]:focus,
.faq-form .form-group input[type="tel"]:focus,
.faq-form .form-group input[type="email"]:focus,
.faq-form .form-group textarea:focus,
.skills .skill-item .skill-bar .bar-inner .bar,
.faq-form-two .form-group input[type="text"]:focus,
.faq-form-two .form-group input[type="tel"]:focus,
.faq-form-two .form-group input[type="email"]:focus,
.faq-form-two .form-group textarea:focus{
	border-color:#96053e;
}

.list-style-two li:before{
	filter: grayscale(100%);
}